<!DOCTYPE html>
<html>
	<head>
		<title>Ruige International Trading Co., Ltd. products detail </title>
		<meta charset="UTF-8">
		<meta name="keywords" content="KVET-500 KPET-DR4500J KPET-DR5500J KPET-DR6000J OTF 5000 OTF 6000 OTF 7000 HD501 HD 502 HD 601 Protein analysis system HD-101 Protein analysis system HD-101 Veterinary ICU X-RAY machine fluoroscopy Ultrasound Inspection machine Anesthesia machine ICU" />
		<meta name="description" content="veterinary medical products including veterinary x ray machine, DR, ultrasound, Anesthesia machine, inspection machine, veterinary ICU KVET-500 KPET-DR4500J KPET-DR5500J KPET-DR6000J OTF 5000 OTF 6000 OTF 7000 HD501 HD 502 HD 601 Protein analysis system HD-101 Protein analysis system HD-101 Veterinary ICU" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/resect.css" />
		<link rel="stylesheet" href="/css/public.css" />
		<link rel="stylesheet" href="/css/deproduct.css" />
		<script src="/js/jq.js"></script>
		<script type="text/javascript" src="/js/public.js"></script>
	</head>
	<body>
	<%- include('head') %>
	<div class="de-top"></div>
	<div class="de-top1"></div>
	<div class="decontent">
		<div class="de-left" style="background:url(<%= list_info.imgSrc %>); background-size:100% 100% ;"></div>
		<div class="de-right">
			<h1><%= list_info.list_name %></h1>
			<p><%= list_info.descript %></p>
			<ul>
				<% for(var j=0;j<list_info.detail.split(',').length;j++){ %> 
				<li><%=  list_info.detail.split(',')[j] %></li>
				<% } %>
			</ul>
		</div>
	</div>
	<% if (other_list.length>1) { %> 
		<div class="de-bottom">
			<ul>
				<% for(var i=0;i<other_list.length;i++){ %> 
					<a href="<%= other_list[i].id %>">
				<li>
					<div class="bacg" style="background:url(<%= other_list[i].imgSrc %>);background-size:100% 100% ;"></div>
					<p><%= other_list[i].list_name %> </p>
				</li>
				</a>
				 <% } %>
			</ul>
		</div>
		<% } %>
	<%- include('form') %>
	<%- include('foot') %>
	</body>
</html>