<script async src="https://www.googletagmanager.com/gtag/js?id=G-JFCLGJJ6C3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JFCLGJJ6C3');
</script>
<div class="h-header">
					<div class="imglogo"></div>
					<div class="spread">
						<div class="line"></div>
					</div>
					<ul class="ul">
						<li><a href="/contact">CONTACT</a></li>
						<li><a href="/partener">PARTENER</a></li>
						<li><a href="/service">SERVICE & TRAINING</a></li>
						<li class="prod"><a href="/product">PRODUCTS</a></li>
						<li><a href="/">MAIN111</a></li>
					</ul>
			</div>
<div class="panel">
					  	 <ul>
					  	 	 <% for(var i=0;i<productdata.length;i++){ %>
					  	 	<li>
					  	 		<dl>
					  	 			<dt><a href="/sproduct/<%= productdata[i].id %>"><%= productdata[i].name %> </a></dt>
					  	 			<% for(var j=0;j<productdata[i].list.length;j++){ %>
					  	 			<dd><a href="/sproduct/<%= productdata[i].id %>/<%= productdata[i].list[j].id %>"><%= productdata[i].list[j].list_name %> </a></dd>
					  	 			<% } %>
					  	 		</dl>
					  	 	</li>
					  	 	 <% } %>
					  	 </ul>
					  </div>
